.user {
  text-align: end;
  margin: 5px;
}

.bot {
  text-align: start;
  margin: 5px;
}
.chat {
}
.messages {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.messages::-webkit-scrollbar {
  width: 0; /* Safari and Chrome */
}
